{
  "root": true,

  "extends": ["ai", "ai/jest"],

  "rules": {
    // ---
  },

  // Override config (only applied to files that match the given globs)
  "overrides": [
    // All JS except inside `src`
    {
      "files": ["!src/**/*.js"],
      "env": {
        "node": true
      },
      "rules": {
        "strict": [1, "global"]
      }
    },

    // JS files inside `src`
    {
      "files": ["src/**/*.js"],
      "env": {
        "browser": true
      },
      "globals": {
        "process": true,
        "module": true
      },
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "strict": [1, "never"]
      }
    }
  ]
}
